@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

H1 {
    color: blue;
}

header{
    background-color: aqua;
}

nav{
    color:blueviolet;
}

body {
    background-color: black;
    margin: 0px;
    color: white;
    font-family: "Rethink Sans", sans-serif;
}

nav a {
    color:blueviolet;
}

nav ul{
    color:aquamarine;
}

nav ul, footer ul{
    list-style: none;
}

.textoRojo{
    color:darkred;
    text-align: center;
}

section img{
    width: 200px;
}



.contenedor{
    background-color: cadetblue;
    width: 800px;
    height: 400px;
}

.pixel{
    background-color: green;
    height: 200px;
    width: 600px;
}

.porcentaje{
    background-color: purple;
    height: 200px;
    width: 50%;
}

.otra{
    height: 100px;
    background-color: yellow;
    width: 50vw;
}

.rem{
    font: size 1rem;

}

